<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index</title>
	<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/reseter.css/2.0.0/reseter.min.css">
	<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		ul,
		li {
			display: block;
			list-style: none;
		}

		a,
		a:hover {
			text-decoration: none;
		}
	</style>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<header id="J-head" class="wrapper">
		<div class="g-header">
			<div class="hd-mbox">
				<a href="" class="logo">
					<img src="https://cardslee.001666.cn/zb_users/theme/cardslee/style/images/logo.png" alt=""
						srcset="">
				</a>
				<div class="search-wrap">
					<form action="" method="get">
						<div class="search-box">
							<input type="text" placeholder="搜索感兴趣的知识和文章">
						</div>
						<button type="submit" class="submit"><span class="fa fa-search"></span></button>
					</form>
					<div class="search-recommend">
						<!-- 搜索结果 -->
						<ul class="outcome"></ul>
						<!-- 搜索推荐 -->
						<div class="recommend">
							<a href="">
								<p class="title"><span style="background-color: #ff4a4a;"
										class="num">1</span>玩转电商沙盘，轻松掌握ITMC步骤！</p>
								<span class="viewnum">542</span>
							</a>
							<a href="">
								<p class="title"><span style="background-color: #ff7701;" class="num">2</span>
									最简单的QQ密码盗取方法，教你如何操作 </p>
								<span class="viewnum">542</span>
							</a>
							<a href="">
								<p class="title"><span style="background-color: #ffb400;" class="num">3</span> 三星G5308W
									ROOT详解：步骤与注意事.... </p>
								<span class="viewnum">542</span>
							</a>
							<a href="">
								<p class="title"><span style="background-color: #2299dd;" class="num">4</span>
									改善网球双打9条建议！（内附改善方法） </p>
								<span class="viewnum">542</span>
							</a>
						</div>
						<span>历史记录</span>
						<ul class="history"></ul>
					</div>
				</div>
				<div class="menu-box"></div>
			</div>
			<div class="hd-mnav"></div>
		</div>
	</header>
	<main class="main-wrapper"></main>
	<footer id="J-foot" class="wrapper"></footer>

	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.slim.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.3.6/axios.min.js"></script>
	<script type="text/javascript">

	</script>
</body>

</html>